AmazonClient.PCL/Service References/AmazonProxyService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmazonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mono.Api.AmazonProxyService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Mono.Api.AmazonApi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmazonService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_ItemSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemSearch" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_ItemSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_AvailableTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableTypes" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_AvailableTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_AvailableCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCountries" />
  </wsdl:message>
  <wsdl:message name="IAmazonService_AvailableCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableCountriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmazonService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmazonService/GetData" message="tns:IAmazonService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmazonService/GetDataResponse" message="tns:IAmazonService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmazonService/GetDataUsingDataContract" message="tns:IAmazonService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmazonService/GetDataUsingDataContractResponse" message="tns:IAmazonService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmazonService/ItemSearch" message="tns:IAmazonService_ItemSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmazonService/ItemSearchResponse" message="tns:IAmazonService_ItemSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmazonService/AvailableTypes" message="tns:IAmazonService_AvailableTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmazonService/AvailableTypesResponse" message="tns:IAmazonService_AvailableTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmazonService/AvailableCountries" message="tns:IAmazonService_AvailableCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmazonService/AvailableCountriesResponse" message="tns:IAmazonService_AvailableCountries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHttpBinding_IService1" type="tns:IAmazonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAmazonService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAmazonService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemSearch">
      <soap:operation soapAction="http://tempuri.org/IAmazonService/ItemSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableTypes">
      <soap:operation soapAction="http://tempuri.org/IAmazonService/AvailableTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableCountries">
      <soap:operation soapAction="http://tempuri.org/IAmazonService/AvailableCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmazonService">
    <wsdl:port name="wsHttpBinding_IService1" binding="tns:wsHttpBinding_IService1">
      <soap:address location="http://apps.mono-comp.com/AmazonProxyService2/Mono.Api.AmazonProxyService.AmazonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>